body {
  background-color: blueviolet;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: aquamarine;
  font-size: 40px;
}
